*{
    box-sizing: border-box;

}
.title{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
}
.place{
    width: 85vw;
    height: 30vh;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
}
.place .display{
    width: 31%;
    height: 100%;
    background-color:gray;
}
form{
    display: block;            
    margin-top: 50px;
    text-align: center;
}
form input{
    padding: 15px 25px;
    font-size: 20px;
    border: 2px solid black;
}
form button {
    padding: 15px 40px;
    font-size: 20px;
    background-color: gray;
    border: 2px solid black;
    color: white;
}
p.info_1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p.info_2{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
